#customerButton {
    height: 400px;
    aspect-ratio: 1/1;
    border-radius: 25px;
    font-size: 75px;
    color: white;
}

#itemButton {
    height: 400px;
    aspect-ratio: 1/1;
    border-radius: 25px;
    font-size: 75px;
    color: white;
}

#ordersButton {
    height: 400px;
    aspect-ratio: 1/1;
    border-radius: 25px;
    font-size: 75px;
    color: white;
}

#div1 {
    position: absolute;
    top: 150px;
    left: 75px;
    margin: auto;
}

#div2 {
    position: absolute;
    top: 150px;
    left: 575px;
    margin: auto;
}

#div3 {
    position: absolute;
    top: 150px;
    left: 1075px;
    margin: auto;
}

#logOutButton {
    float: right;
    background-color: black;
    color: white;
}

h2{
    text-decoration-style: dashed;
    position: absolute;
    top: 550px;
    right: 30px;


}