body{
    position: relative;
    background: lightgrey;
}
/*header*/
header>nav{
    border-radius: 40px 40px 40px 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
header>nav>div>a>img{
    border-radius: 50%;
}

/*login*/
#login-sec{
    position: relative;
    background:linear-gradient(rgba(0,0,0,0.6),#ffffff,#4869fa);
    height: 100vh;
}
#login-sec>#log-form{
    width: 500px;
    height: 350px;
    background: lightgray;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;

    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;

}
#btnSign{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#login-sec>h1{
    font-size: 250px;
    font-family: sans-serif;
    color: gray;
    position: absolute;
    top: 300px;
    left: 140px;
    margin: auto;
    opacity: 60%;
}

/*-home-*/

#home-sec>#sidebtn{
    height: fit-content;
    position: absolute;
}
.BtnManage{
    width: 350px;
    height: 60px;
    background-color: darkblue;
    border: 2px solid cornflowerblue;
    color: white;
    margin-bottom: 20px;
    border-radius: 0 50px 50px 0;
    position: relative;
    margin-left: -120px;
}
.BtnManage>h3{
    position: absolute;
    left: 160px;
    /*right: 30px;*/
    top: 10px;

}
#sidebtn>a>#div1{
    opacity: 1;
}
#sidebtn>a>#div2{
    opacity: 75%;
}
#sidebtn>a>#div3{
    opacity: 50%;
}
.BtnManage>h4{
    position: absolute;
    left: 32px;
    /*right: 30px;*/
    top: 12px;

}
.BtnManage:hover{
    width: 400px;
    transition-duration: 3s;
    margin-left: 0;
    background-color: blueviolet;
    color: lightgrey;
    opacity: 1;

}
#home-sec>h2{
    text-decoration-style: dashed;
    position: absolute;
    top: 550px;
    right: 30px;
}
#home-sec>h1{
    font-size: 250px;
    font-family: sans-serif;
    color: gray;
    position: absolute;
    top: 300px;
    left: 140px;
    margin: auto;
    opacity: 50%;
}
.card-body{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*-customer-*/
#customerSearch{
    width: 800px;
    height: 300px;
    border-radius: 10px;
    background: whitesmoke;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#newCust{
    position: absolute;
    top: 100px;
    right: 130px;
    margin: auto;
}
#custTable{
    width: 1000px;
    position: absolute;
    top: 420px;
    left: 0;
    right: 0;
    margin: auto;
}
#cust-form-tittle{
    position: absolute;
    left: 20px;
    font-family: sans-serif;
}

/*Store*/
#ItemSearch{
    width: 800px;
    height: 300px;
    border-radius: 10px;
    background: whitesmoke;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#newItem{
    position: absolute;
    top: 100px;
    right: 130px;
    margin: auto;
}
#itemTable{
    width: 1000px;
    position: absolute;
    top: 420px;
    left: 0;
    right: 0;
    margin: auto;
}
#item-form-tittle{
    position: absolute;
    left: 20px;
    font-family: sans-serif;
}

/*orders*/
#custForm{
    width: 500px;
    height: 260px;
    border-radius: 10px;
    background: whitesmoke;
    position: absolute;
    top: 86px;
    left: 160px;
    margin: auto;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#ItemForm{
    width: 600px;
    height: 260px;
    border-radius: 10px;
    background: whitesmoke;
    position: absolute;
    top: 86px;
    right: 50px;
    margin: auto;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#totalForm{
    z-index: 2;
    width: 450px;
    height: 300px;
    position: absolute;
    top: 314px;
    right: 50px;
    margin: auto;
    padding: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#itemCart{
    width: 650px;
    position: absolute;
    top: 370px;
    left: 160px;

    margin: auto;
}
#order-form-tittle{
    position: absolute;
    left: 20px;
    font-family: sans-serif;
}

#totalF-3col{
    margin-top: 0;
}
#totalF-4col{
    margin-top: 0;
}
#totalF-5col{
    margin-top: 0;
}
#purchase-btn{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

